@model TestMovieSite.Views.ViewModels.MovieViewModel

@{ ViewData["Title"] = Model.ActionName; }

<partial name="_MessagePanel" model="Model" />

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="validation text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" hidden="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishingDate" class="control-label"></label>
                <input asp-for="PublishingDate" class="form-control" />
                <span asp-validation-for="PublishingDate" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.PosterUrl))
            {
                <div class="form-group">
                    <label asp-for="PosterUrl" class="control-label"></label>
                    <img style="max-width: 600px; max-height:400px" src="@Model.PosterUrl" alt="@Model.PosterUrl" />
                </div>
            }
            <div class="form-group">
                <label asp-for="NewPoster" class="control-label"></label>
                <input asp-for="NewPoster" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}